body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

ul li, ol li {
	font-color: black !important;
	font-weight: 400;
}

ul {
	list-style-type: circle;
}
ul li strong {
	font-weight: 600;
	text-decoration: underline !important;
}

#taglines {	
	text-align: left;
}

h1 {
	text-align: left;
	color: black;
	padding: 20px 0;
	font-weight: 200;
}

h2 {
	font-weight: bold;
	text-align: left;
	color: black;
	font-weight: 100;
	padding-top: 10px;
	margin-bottom: 20px;
	font-size: 1.8em;
	color: black;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
}
h3 {
}
h4 {
	font-weight: 100;
	font-size: 24px;
	margin-bottom: 5px;

}
.tagline {
	align: left;
}
a, .nav-tabs > li > a:hover{
	color: #009FDB;
}
.nav-tabs > li > a:hover{
	color: #009FDB;
	font-weight: normal !important;
}

.nav-tabs > li > a {
	border: none;


}
a:hover, .navbar .nav > li > a:hover {
	text-decoration:underline
	font-weight: normal !important;
}
a:visited {
	color: #800080
}
a.btn {
	text-decoration: none;
}

a.carousel-control > p {
	display: hidden;
}

.nav-tabs > li {
	margin-bottom: -2px !imporant;
}
ul {
	list-style-type: none;
	margin-left: 0;
}

h1.logo {
	text-align: left;
	width: 100%;
}

#openid a {
	border: none !important;
}
.navbar-inner {
  background: #EEE;
}

.navbar .navbar-fixed-top{
	overflow: hidden;
	width: 100%;
}
.navbar .nav > li > a {
	margin-top: 10px;
	font-size: 18px;
	padding: 5px 10px;
	text-shadow: none;
	color: black;
}

.navbar .nav > li > a.soon {
}

.navbar .nav > li > a.right {
	padding: 0px;
	margin-top: 3px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background: #fff;
  border-bottom: none;
  color: black;
  font-weight: 800;
  margin-bottom:-1px;
}

.navbar .nav > li > a:hover {
	color: black;
	font-weight: bold;
}

#slideshow {
}
 
#slides {
	position:relative; 
	width:100%; 
}

#slides img {
	 position:absolute; left:0; top:0;  
}
#shadow {
	z-index: -1000;
	position: relative;
	left: 0px;
	top: 565px;
}

#splash {
	padding-top: 30px;
	padding-bottom: 30px;
}

myCarousel {
		overflow: hidden;
}
#sections {
  padding-bottom: 10px;
}

#spotlight, #applets {
	border-right: 0px solid gray;
}

#screen_shots .row {
	padding-top: 30px;
}

.caption {
	padding-top: 10px;
	text-align: left;
}

#footer {
  margin-top: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow:    3px 3px 5px #ccc;
  -webkit-box-shadow: 3px 3px 5px #ccc;
  box-shadow:         3px 3px 5px #ccc;
  background: #EEE;
}

#footer.row {
	margin-left: 0;
}
#footer h3 {
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer ul {
	list-style-type: none;
	font-size: 14px;
}

#footer a {
}

h2.section {
}

ul, p, dd {
	font-size: 16px;
	line-height: 24px;
	color: black;
	font-weight: 500;
}

li {
	line-height: 24px;
}

dl {
}

dt {

}
dd { 
	margin-left: 0;
	font-weight: 500;
	margin-bottom: 1em;
}

#taglines h1 {
	padding: 20px 0;
}

div.content {
	padding-top: 75px;
}

div#index {
	padding-top: 75px;
}

em {
	color: #444;
	text-transform: uppercase;
}

a.brand {
	margin-top: 1px;
}

#postscript {
	padding-top: 10px;
}

#participate h2 {
	padding-bottom: 0px;
}

#participate ul, #footer ul, #contact ul {
	list-style-type: none;
}

#participate li, #footer li, #contact li {
}

#pdf {
	padding-top: 30px;
}

a.top {
	display: block;
	padding-top: 10px;
}

a.handle {
	text-decoration: underline;
	font-weight: bold;
}

#date .month {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

#date .year {
	display: block;
	color: #999;
	font-size: 36px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  header .span6 {
    width: 450px;
  }
	
}

@media (max-width: 979px) {
	h1.tag{
  	margin-top: 70px !important;
  	width: 100% !important;
  	display: block;
  }
}

#documents li {
	padding-bottom: 15px;
}

#faq img {
	text-align: center;
}

p.after-rhex {
	margin-top: 20px;
}

table.contact-list {
	padding: 20px 0;
	width: 75%;
	text-align: left;
}
.contact-list th {
	padding: 10px 0;
}


.MITRE {
	height: 25px;
	margin-bottom: 5px;
}
#menu {
	margin-left:0;
}


/*Header  */

.navbar-inner {
	position: relative;
	padding-bottom: 25px !important;
}

.navbar-inner {
	padding-bottom: 10px;
	padding-top: 10px;
}
.logo {
	margin-top: 10px;
	float: left;
	left: 0;
	bottom: 0;
	margin-left: 0;
	margin-right: 50px;

}
.nav-listing {
	float: left;
	left: 20px;
	margin-top: 40px;
	margin-bottom: 40px;

}


.nav {
	vertical-align: baseline;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	margin-bottom: 20px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	padding-bottom: 15px;
}
.external-links {
	position: absolute;
	bottom: 0;
	right: 0;

}
.external-bar {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	top: 0;
}
.external-bar img {
	-webkit-transition: margin 0.8s ease-out;
	 -moz-transition: margin 0.8s ease-out;
	 -o-transition: margin 0.8s ease-out;
	 height: 5em;
}
.external-bar img:hover {
		cursor:pointer;
	  margin-top: -20px;
}

li #home {
	background-image: url('images/home.png');
	background-repeat: no-repeat;
	background-position: 0 .5em;
	padding-left: 10px;
}

.navbar-inner {
  background: #fff;
}


.tag {
}
a.btn {
	float: right;
	padding: 10px;
	margin-top: 12px;
	margin-bottom: 30px;
}
div#index {
	padding-top: 0px;
}

a.screenreader {
	color: #fff;
}

h3 {
	font-size: 20px;
}

a.carousel-control p {
	display: none;
}

input {
	width: 100%;
	padding: 10px;
}
label {
	color: #fff;
}
#comments {
	height: 200px;
}

#submit {
	float: right;
}
div.container {
	padding-left:0;
}
input {
	text-align: top;
}

footer {
	margin-top: 20px;
}
footer .span9 {
	margin-left: 0px !important;
}