#complexity {
  padding: 50px;
  font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.chart {
  float: left;
  height: 250px;
  width: 175px;
  padding: 5px;
  text-align: center;
}

.chart .id {
  color: #999;
  text-align: center;
}

.chart .name {
  font-weight: bold;
}

path.spider {
  stroke-opacity: 1;
  fill-opacity: 0.5;
}

path.domain {
  fill: #999;
}

.kiviat-label {
  alignment-baseline: central;
}

.origin {
  stroke: #999;
  opacity: 0.25;
}

circle.simple, path.simple {
  stroke: #A4B269;
  fill: #A4B269;
}

circle.nominal, path.nominal {
  stroke: #FFD479;
  fill: #FFD479;
}

circle.complex, path.complex {
  stroke: #FF9100;
  fill: #FF9100;
}

circle.untestable, path.untestable {
  stroke: #FF8888;
  fill: #FF8888;
}

.untestable.bullseye {
  stroke-dasharray: 9, 5;
  fill: none;
}

rect.untestable {
  fill: #C91A00;
  fill-opacity: 0.8;
}

text.value {
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: central;
}

rect.untestable + text.value.untestable {
  fill: white;
  font-size: 115%;
}

.bullseye-label {
  font-size: 65%;
  fill: #999;
}

circle.bullseye {
  /*fill-opacity: 0.5;*/
  stroke-width: 2;
  fill: none;
}

